body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dark-mode {
    background-color: black;
    scrollbar-width: thin;
    scrollbar-color: #666 #333;
}

.dark-mode::-webkit-scrollbar {
    width: 12px;
    background-color: #333;
}

.dark-mode::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 6px;
}

.dark-mode::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

.katex .katex-mathml {
    position: relative !important;
}
